body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(14, 126, 146);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 40px;
  width: 70%;
  background-color: white;
}
.App h2{
  text-align: left;
  font-size: 35px;
  color: white;
  padding: 20px;
  background-color: rgb(14, 126, 146);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.top{
  margin-bottom: 10px;
}
.top input{
  width: 80%;
  padding: 15px;
  background-color: lightgray;
  border: none;
  font-size: 20px;

}
.top button {
  width: 20%;
  background-color: rgb(201, 25, 92);
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}
.App ul li{
  list-style: none;
  margin-bottom: 10px;
}
.li p{
  display: inline-block;
  width: 59%;
  font-size: 20px;
}
.li .update{
  width: 20%;
  background-color: dimgrey;
  border: none;
  color: white;
  padding: 10px;
  margin-right: 1%;
  font-size: 22px;
  cursor: pointer;
}
.li .delete{
  width: 20%;
  background-color: rgb(14, 126, 146);
  border: none;
  color: white;
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
}
.bott{
  margin-bottom: 10px;
}
.bott input{
  width: 80%;
  padding: 15px;
  background-color: lightgray;
  border: none;
  font-size: 20px;

}
.bott button {
  width: 20%;
  background-color: rgb(201, 25, 92);
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}
